body{
    background-color: #28364e;
}

    h1{
        text-align: center;
        padding:3px;
background-color: #556ff7;     
        /* box-shadow: 7px 6px 6px gray; */
        border: 3px solid rgb(0, 0, 0);
        border-radius: 20px;
    }
    h1:hover{
        color:#ffffff;
        font-size: 210%;
    }

    #box{
        font-size: 1.6vw;
        border: 2px solid rgb(253, 251, 251);
        background-color: black;
        border-radius: 10px;
        /* box-shadow: 2px -3px 20px 8px rgb(88, 87, 87); */
        padding: 10px;
        margin: 1vw;
    }
    .fact1 {
      width: 11vw;
      background-color: white !important;
        border: 2px solid black;
        border-radius: 8px;  
        padding: 4px 10px 4px 10px; 
        text-align: center;
        color: rgb(0, 143, 245) ;    
        margin: 5px;
        box-shadow: 3px 4px 10px 1px rgb(63, 63, 63);

    }
    p#fact1{
        color: #556ff7;
        font-size: 2.9vw;
        font-weight: 700;
        margin: 5px;

    }
    p#fact1:hover{
        color: rgb(253, 255, 253);
        font-size: 3vw;
    }

#topic{
    color: #ffffff;
    font-size: 2vw;
    background-color: black;
    padding: 10px;
    font-weight: 500;
    border:1px solid wheat ;
    border-radius: 9px;
}

.fact1:hover{

    font-size: 30px;
    color:rgb(19, 244, 19)
}
img{
    width: 1000px;
   


}

footer{
    font-size: 2.8vw;
    color: black;
    background-image: linear-gradient(#ffffff, #ffffff);
    padding: 10px ;
    border: 3px solid rgb(14, 14, 14);
    border-radius: 7px;
    text-align: center;
    margin: 2px;
    box-shadow: 2px -1px 2px 2px #2a2727;


}
.button{
    color: white;
    background-color:  rgb(59, 45, 254);
     margin: 80%;
     padding: 3px 5px 3px 5px;
     border: 2px solid black;
     text-align: center;
     
 }
 .button:hover{
    color: black;
background-image: linear-gradient(#ffffff,#28364e)
 }

a{
    text-decoration: none;
    color: rgb(59, 45, 254);
    font-size: 3vw;
}