:root{
    --primary-color: rgb(21, 24, 24);
    --btn-color:blueviolet;
    --text-color:white;
}

h1{
    color: red;
}
#fun{
    background-color: var(--primary-color);
    height: 200px;
    width: calc(100% - 200px);
}
a{
    padding:10px 30px;
    margin: 20px;
    background-color: var(--btn-color);
    color: white;
    text-decoration: none;
}